{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {% block 'title' %}
    <title>AutoMax . List Your Car Today</title>
    {% endblock %}
    <meta name="description" content="" />
    <meta name="author" content="Michelle Lauer" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{% static 'bootstrap/css/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    {% if messages %} {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %}>
      {{ message }}
    </div>
    {% endfor %} {% endif %} {% block 'header' %}
    <header class="p-3 bg-dark text-white w-100 nav-masthead">
      <div class="container">
        <div
          class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
        >
          <a
            href="{% url 'home' %}"
            class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
          >
            <img
              class="bi me-2"
              width="32"
              height="32"
              src="{% static 'images/logo.png' %}"
              aria-label="Bootstrap"
            />
          </a>
          {% if request.user.is_authenticated %}
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li>
              <a href="{% comment %}{% url 'profile' %}{% endcomment %}" class="nav-link px-2">Profile</a>
            </li>
          </ul>
          <div class="text-end">
            <a type="button" href="{% url 'logout' %}" class="btn btn-danger" >Logout</a>
          </div>
          {% endif %}
        </div>
      </div>
    </header>
    {% endblock %} {% block 'body'%} {% endblock %} {% block 'footer'%}
    <footer class="mt-auto text-white-50 bg-dark text-muted">
      <div class="container">
        <p class="float-end mb-1">
          Copyright © {% now 'Y' %} <a href="" class="text-white">AutoMax</a> by
          <a href="https://preneure.com" class="text-white">Preneure.com</a>
        </p>
        <p class="mb-1">AutoMax - Best Place To Buy & Sell Cars</p>
      </div>
    </footer>
    {% endblock %}
  </body>
</html>
